.App-logo {
  height: 2.5rem;
  width: 2.5rem;
}

.Color-spin {
  text-align: center;
}

.Color-spin:hover {
  animation: App-color-spin 1s linear;
}

.Loading-data {
  animation: App-logo-spin infinite 1s linear;
  width: 20px;
  height: 20px;
}

@media screen and (max-width:700px) {
  .cus-nav-search{
    visibility: collapse;
  }
  .cus-resize-card {
    width: 100vw !important;
    height: 50vh !important;
    margin: 0;
    padding: 0;
  }
  .cus-dropdown {
    transform: translateX(0) !important;
  }
}
.cus-resize-card {
  width : 50vw;
  height : 50vh;
background-color: var(--bs-gray-200);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
    filter: hue-rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
    filter: hue-rotate(360deg);
  }
}

@keyframes App-color-spin {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

.accordion-button {
  background-color: var(--bs-gray-600) !important;
  color: white !important;
  border-radius: 1rem !important;
  width: 12rem;
  height: 2rem;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 3px 15px black;
  font-family: serif;
}
